/* Background */

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;
}

/* Modal */

.modal-container {
    width: 100%;
    max-width: 700px;

    background: #fff;

    border-radius: 12px;

    overflow: hidden;

    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);

    animation: popup .25s ease;
}

/* Header */

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 22px;
    border-bottom: 1px solid #eee;
}

.modal-header h2 {
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Close Button */

.close-btn {
    border: none;
    background: transparent;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .2s;
}

.close-btn:hover {
    color: red;
}

/* Body */

.modal-body {
    padding: 22px;
}

/* Animation */

@keyframes popup {

    from {
        transform: scale(.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }

}

/* Responsive */

@media(max-width:768px){

    .modal-container{

        width:95%;
    }

}