* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =======================
        Navbar
======================= */

.navbar {
     /* Sidebar width */
    right: 0;
    height: 75px;
    background: #1F3A5F;
    border-bottom: 1px solid rgba(255,255,255,.08);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    z-index: 999;
    box-shadow: 0 4px 15px rgba(0,0,0,.15);
}

/* =======================
        Logo
======================= */

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo img{
    width:70px;
    height:70px;
    border-radius:50%;
    background:#fff;
    padding:5px;
    object-fit:cover;
}

.logo h2{
    color:#fff;
    font-size:25px;
    font-weight:700;
    letter-spacing:1px;
}

/* =======================
        Profile
======================= */

.profile{
    display:flex;
    align-items:center;
    gap:10px;
    padding-right: 40px;
}

.profile-icon{
    width:52px;
    height:52px;
    border-radius:50%;
    background:#e0000020;
    border:2px solid rgba(255,255,255,.25);
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    transition:.3s;
    cursor:pointer;
}


.profile-info{
    display:flex;
    flex-direction:column;
    text-transform: capitalize;
}

.profile-info h4{
    color:#fff;
    font-size:18px;
    font-weight:600;
    margin-bottom:3px;
}

.profile-info span{
    color:#b8c7d9;
    font-size:13px;
    text-transform:capitalize;
}

/* =======================
      Tablet
======================= */

@media(max-width:768px){

    .navbar{
        left:0;
        padding:0 20px;
    }

    .logo h2{
        font-size:22px;
    }

    .profile-icon{
        width:46px;
        height:46px;
    }

    .profile-info h4{
        font-size:16px;
    }
}

/* =======================
      Mobile
======================= */

@media(max-width:576px){

    .navbar{
        height:70px;
        padding:0 15px;
    }

    .logo h2{
        display:none;
    }

    .profile{
        gap:10px;
    }

    .profile-info h4{
        font-size:15px;
    }

    .profile-info span{
        font-size:12px;
    }
}