body{
    background:#f3f4f6;
}

.review-container{
    max-width:1200px;
    margin:40px auto;
    display:flex;
    gap:25px;
    align-items:flex-start;
    padding:0 20px;
}

.review-left{
    flex:3;
}

.review-summary{
    flex:1;
    margin-top: 60px;
}

.back-btn{
    display:flex;
    align-items:center;
    gap:8px;
    background:white;
    border:none;
    padding:12px 18px;
    border-radius:10px;
    cursor:pointer;
    font-weight:600;
    margin-bottom:20px;
    box-shadow:0 4px 12px rgba(0,0,0,.08);
}

.review-card,
.review-summary{
    background:white;
    border-radius:16px;
    padding:25px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.card-header{
    border-bottom:1px solid #eee;
    padding-bottom:15px;
    margin-bottom:20px;
}

.card-header h2{
    color:#d84e55;
}

.details-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.details-grid div{
    background:#fafafa;
    padding:15px;
    border-radius:10px;
}

.details-grid span{
    display:block;
    color:#888;
    font-size:13px;
    margin-bottom:6px;
}

.details-grid strong{
    color:#222;
    font-size:16px;
}

.review-summary{
    position:sticky;
    top:20px;
}

.review-summary h2{
    color:#d84e55;
    margin-bottom:20px;
}

.fare-row,
.fare-total{
    display:flex;
    justify-content:space-between;
    margin:18px 0;
}

.fare-total{
    font-size:22px;
    font-weight:bold;
}

.confirm-btn{
    width:100%;
    margin-top:25px;
    height:52px;
    border:none;
    border-radius:10px;
    background:#d84e55;
    color:white;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

.confirm-btn:hover{
    background:#bf3d45;
}

@media(max-width:900px){

    .review-container{
        flex-direction:column;
    }

    .review-summary{
        width:100%;
        position:static;
    }

    .details-grid{
        grid-template-columns:1fr;
    }

}